body,
ul, 
li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.menu {
    background-color: #323031;
    text-align: center;
}
.menu .item {
    display: inline-block;
    position: relative;
}
.menu .item:hover .sub-menu{
    display: block;
}
.menu .item a {
    text-transform: uppercase;
    color: white;
    display: inline-block;
    padding: 10px;
}
.menu .item a:hover {
    color: yellow;
}
.sub-menu {
    position: absolute;
    left: 0;
    background-color: #323031;
    display: none;
}
.sub-menu .sub-item {
    width: 200px;
    text-align: left;
}